@use '../variables' as *;

.card {
  min-height: 531px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  overflow: hidden;
  background-color: $white;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 359px;
  }

  &__content {
    padding: 24px 16px;
    flex-grow: 1;

    display: grid;
    grid-template-rows: 1fr min-content; // 1-ая строка по максимуму будет занимать, 2-ая по размеру контента
    grid-template-columns: max-content 1fr;
    justify-content: space-between;
    gap: 16px;
  }

  &__title {
    // грид элемент
    align-self: start; // выравнивание по вертикали
    grid-column: 1 / -1;
    font-weight: 400;
    font-size: 18px;
    color: $dark;
  }

  &__date-delivery {
    // грид элемент
    align-self: center; // выравнивание по вертикали
    padding-left: 20px;
    background-image: url('/img/track.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1.3;
    color: $dark;
  }

  &__button {
    // грид элемент
    justify-self: end; // выравнивание по горизонтали
    align-self: start; // выравнивание по вертикали

    padding: 8px 16px;
    min-width: 120px;
    background-color: $light-orange;
    color: $white;
    border-radius: 32px;
  }

  &__price {}

  &__button-text {
    display: none;
  }
}