@use '../variables' as *;

// https://codepen.io/Quper/pen/ZEywPZo

.filter {
  padding: 30px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }


  &__group {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    gap: 12px;
  }


  &__radio {
    position: absolute;
    appearance: none;

    // &:focus+&__label {
    //   background-color: $orange;
    //   color: $white;
    // }

    &:focus-visible+&__label {
      outline: 1px solid $orange;
      outline-offset: 5px;
    }

    &:checked+&__label {
      background-color: $light-orange;
      color: $white;
    }
  }


  &__label {
    display: inline-block;
    padding: 16px;
    padding-left: 60px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 300px;
    background-color: $white;
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.3;
    color: $dark;

    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left 16px center; // слева на 16px

    &:hover {
      background-color: $orange;
    }

    &--flower {
      background-image: url('/img/flower-filter.png'); // от папки public
    }

    &--toy {
      background-image: url('/img/toy-filter.png');
    }

    &--card {
      background-image: url('/img/card-filter.png');
    }
  }


  &__choices {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      // стрелочка 
      content: '';
      background-image: url('/img/arrow-filter.svg');
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center contain; // contain - чтбы занимала все свободное простр-во
      //transform: scale(-1);  // стрелочка перевернется
    }

  }


  &__select {}


  &__input-price {}


  &__type-list {}


  &__type-item {}


  &__type-btn {}


  &__type-button {}
}